<div class="lsPr-title">
  <h4 class="fw-bold text-secondary mb-3">Pertes</h4>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>N.L</th>
        <th>Nom des Pertes</th>
        <th>Date des Pertes</th>
        <th>Prix des Pertes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let losse of losses | paginate: { itemsPerPage: count, currentPage: p }">
        <td>{{ losse.number }}</td>
        <td>{{ losse.name }}</td>
        <td>{{ losse.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ losse.price }} DH</td>
        <td>
          <button type="button" (click)="getId(losse._id, losse.price)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination Control -->
<div class="text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supprimer les Pertes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <i class="fa-solid fa-triangle-exclamation text-warning"></i>
        Êtes-vous sûr de vouloir supprimer ceci ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteLosses()">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>